version: 2.1

executors:
  own_executor:
    docker:
      - image: cimg/openjdk:11.0
  own_executor2:
    docker:
      - image: ubuntu
jobs:
  build-and-test:
    executor: own_executor    
    steps:
      - checkout
      - run:
          name: Build
          command: mvn clean package
      - run:
          name: Test
          command: mvn test
  package:
    executor: own_executor2
   
    steps:
      - checkout
      - run: 
          name: package
          command: |
            mvn install
            mvn clean package
  hello:
    executor: own_executor
    steps:
      - checkout
      - run:
          name: print
          command: echo "this is third job"



workflows:
  sample:
    jobs:
      - build-and-test
      - package:
          requires:
            - build-and-test
  
  sample2:
    jobs:
      - package
      - hello:
          requires:
            - package